# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DB_DATABASE=taskforge
DB_HOST=localhost
DB_USER=root
DB_PASS=root
DB_PORT=3308
DB_CONNECTION_LIMIT=10

DATABASE_URL="mysql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_DATABASE}?connection_limit={DB_CONNECTION_LIMIT}"